.footer {
    padding-top: 100px;
    padding-bottom: 30px;

    .desc-title {
        font-size: 18px;
    }

    .menu-link {
        font-size: 18px;
    }

    &-top {
        .heading-content {
            .label-text {
                margin-bottom: 8px;
            }
            .heading-text {
                max-width: 570px;
                margin-bottom: 40px;
            }
            .wrap-btn {
                gap: 24px;

                .img-platform {
                    max-height: 44px;
                }
            }
        }
        .wrap-description {
            gap: 30px;
            .item {
                width: 172px;
                display: flex;
                flex-direction: column;

                .desc-title {
                    margin-bottom: 40px;
                }

                .menu-link:not(:last-child) {
                    margin-bottom: 20px;
                    line-height: 166.667%;
                }

                .address {
                    width: 170px;
                    flex-shrink: 0;
                }
            }
        }
    }

    &-bottom {
        .subscribe {
            border-bottom: 1px solid #222222;
            padding-bottom: 30px;
            margin-bottom: 30px;
            &-left {
                .desc-text {
                    margin-bottom: 8px;
                }

                .email {
                    color: $white-color;
                    line-height: 30px;
                }
            }

            &-right {
                .img-btn-to-top {
                    max-width: 70px;
                }
            }
        }
        .copyright {
            text-align: center;
        }
    }

    @media (max-width: 1200px) {
        padding-top: 50px;
        padding-bottom: 20px;
        &-top {
            .wrap-description {
                gap: 40px;
                .item {
                    width: unset;
                }
            }
        }
    }

    @media (max-width: 768px) {
        &-top {
            margin-bottom: 30px;
            flex-direction: column;

            .heading-content {
                margin-bottom: 30px;
                .heading-text {
                    margin-bottom: 30px;
                }
            }

            .wrap-description {
                .item {
                    .desc-title {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    @media (max-width: 576px) {
        padding-top: 40px;
        padding-bottom: 10px;
        .desc-title,
        .menu-link {
            font-size: 16px;
        }
        &-top {
            margin-bottom: 20px;
            .heading-content {
                margin-bottom: 20px;
                .heading-text {
                    margin-bottom: 20px;
                }
            }
            .wrap-description {
                flex-wrap: wrap;
                gap: 20px;
                .item {
                    min-width: 142px;
                    .desc-title {
                        margin-bottom: 14px;
                    }

                    .menu-link:not(:last-child) {
                        margin-bottom: 10px;
                        line-height: 166.667%;
                    }
                }
            }
        }

        &-bottom {
            .subscribe {
                padding-bottom: 20px;
                margin-bottom: 20px;
                &-right {
                    .img-btn-to-top {
                        max-width: 52px;
                    }
                }
            }
        }
    }
}
