.d {
    &-flex {
        display: flex;
    }
    &-inline-flex {
        display: inline-flex;
    }
}

.justify-content {
    &-center {
        justify-content: center;
    }
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
    &-end {
        justify-content: flex-end;
    }
    &-start {
        justify-content: flex-start;
    }
}

.align-items {
    &-center {
        align-items: center;
    }
    &-start {
        align-items: flex-start;
    }
    &-end {
        align-items: flex-end;
    }
}

.flex {
    &-row {
        flex-direction: row;
    }
    &-row-reverse {
        flex-direction: row-reverse;
    }
    &-column {
        flex-direction: column;
    }
    &-column-reverse {
        flex-direction: column-reverse;
    }
}

.container {
    max-width: 1440px;
    padding: 0 135px;
    margin: 0 auto;

    &-fluid {
        max-width: 100%;
        padding: 0 135px;
        margin: 0 auto;
    }

    @media (max-width: 1200px) {
        max-width: 1440px;
        padding: 0 62px;
        margin: 0 auto;

        &-fluid {
            max-width: 100%;
            padding: 0 62px;
            margin: 0 auto;
        }
    }

    @media (max-width: 768px) {
        padding: 0 30px;

        &-fluid {
            padding: 0 30px;
        }
    }
}

.img,
.ic {
    width: 100%;
}

a {
    text-decoration: none;
    color: $light-gray;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $font-satoshi;
    font-size: 18px;
    font-weight: 400;
    color: $light-gray;
    background-color: $bg-dark;
}

section {
    padding-block: 100px;

    @media (max-width: 1200px) {
        padding-block: 50px;
    }

    @media (max-width: 576px) {
        padding-block: 40px;
    }
}

// Label
.label-text {
    font-size: $p;
    font-weight: 400;
    color: $white-color;
    line-height: 30px;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    gap: 8px;

    .line {
        content: "";
        display: inline-block;
        width: 36px;
        height: 1px;
        background-color: $white-color;
    }
}

// .heading-text
.heading-text {
    font-size: 60px;
    font-weight: 500;
    color: $white-color;
    line-height: 120%;

    @media (max-width: 1200px) {
        font-size: 52px;
    }

    @media (max-width: 768px) {
        font-size: 42px;
    }

    @media (max-width: 576px) {
        font-size: 30px;
    }
}

//  .desc-text
.desc-text {
    font-size: $p;
    font-weight: 400;
    line-height: 166.667%;
    color: $light-gray;

    @media (max-width: 576px) {
        font-size: 16px;
    }
}
