.trailer {
    &-top {
        text-align: center;
        margin-bottom: 60px;
        .label-text {
            margin-bottom: 8px;
        }
    }

    &-bottom {
        gap: 40px;
        .img-trailer {
            max-width: 970px;
        }

        .desc-text {
            max-width: 227px;
            margin-left: 100px;
        }
    }

    @media (max-width: 768px) {
        &-top {
            margin-bottom: 30px;
        }

        &-bottom {
            gap: 20px;

            .desc-text {
                margin-left: 50px;
            }
        }
    }
}
