.btn {
	font-family: $font-satoshi;
    font-size: $p;
    font-weight: 500;
    color: $white-color;
    display: inline-block;
    border: unset;
    background-color: unset;
    cursor: pointer;
    transition: all 500ms ease;
	&-link {
		justify-content: center;
		gap: 24px;
		padding: 0;
	}
	&-icon {
		padding: 0;
	}
	&-sign {
        padding: 16px 31.5px;
        border-radius: 70px;
        outline: 1px solid $light-gray;
        font-weight: 300;

        span {
            font-weight: 600;
        }
    }

    &-outline {
        font-size: 16px;
        padding: 16px;
        outline: 1px solid $white-color;

        &:hover {
            background-color: $white-color;
            color: $black-color;
        }
    }

    &-platform {
        display: inline-flex;
    }

    @media (max-width: 768px) {
        &-sign {
            padding: 14px 28.5px;
        }
        &-outline {
            padding: 14px;
        }
    }
	// &-secondary{
	//     background-color: $secondary;
	//     color: $white;
	// }
	// &-primary{
	//     @extend .btn-secondary;
	//     background-color: $primary;
	//     color: $black;
	// }
}
