.progress {
    &-wrapper {
        width: 100%;
        gap: 120px;
        .card {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            &-left {
                .label-text {
                    margin-bottom: 20px;
                }
                .card-title {
                    font-size: 120px;
                    font-weight: 500;
                    line-height: 108.333%;
                    color: $white-color;
                }
            }

            &-right {
                .card-title {
                    margin-bottom: 28px;
                }
                .card-desc {
                    max-width: 770px;
                }
            }
        }
    }

    @include responsive(xl)  {
        &-wrapper {
            gap: 60px;
            .card {
                &-left {
                    .card-title {
                        font-size: 98px;
                    }
                }

                &-right {
                    .card-desc {
                        max-width: 632px;
                    }
                }
            }
        }
    }

    @include responsive(md)  {
        &-wrapper {
            gap: 60px;
            .card {
                flex-direction: column;
                align-items: flex-start;
                &-left {
                    margin-bottom: 18px;
                    .label-text {
                        margin-bottom: 10px;
                    }
                    .card-title {
                        font-size: 82px;
                    }
                }

                &-right {
                    .card-title {
                        margin-bottom: 18px;
                    }
                    .card-desc {
                        max-width: 632px;
                    }
                }
            }
        }
    }

    @include responsive(sm)  {
        &-wrapper {
            gap: 30px;

            .card {
                &-left {
                    .label-text {
                        margin-bottom: 10px;
                    }
                    .card-title {
                        font-size: 76px;
                    }
                }
            }
        }
    }
}
