.story {
	&-top {
		margin-bottom: 60px;
		.label-text {
			margin-bottom: 8px;
		}

		.heading-content {
			gap: 60px;

			.heading-text {
				max-width: 544px;
			}
		}
		.wrap-desc {
			display: flex;
			max-width: 570px;
			flex-direction: column;
			gap: 24px;
		}
	}

	&-bottom {
		.img-story {
			max-width: 1170px;
		}
	}

	@include responsive(xl) {
		&-top {
			.wrap-desc {
				max-width: 466px;
			}
		}
	}

	@include responsive(md) {
		&-top {
			margin-bottom: 30px;
			.heading-content {
				gap: 30px;
				flex-direction: column;
				align-items: flex-start;

				.heading-text {
					max-width: unset;
				}

				.wrap-desc {
					max-width: unset;
				}
			}
		}
	}

	@include responsive(sm) {
		&-top {
			margin-bottom: 20px;
			.heading-content {
				gap: 20px;
				flex-direction: column;
				align-items: flex-start;

				.heading-text {
					max-width: unset;
				}

				.wrap-desc {
					max-width: unset;
				}
			}
		}
	}
}
