
$white-color: #ffffff;
$black-color: #000000;
$light-gray: #d0d0d0;
$dark-gray: rgba(0, 0, 0, 0.6);

$bg-dark: $black-color;
$bg-dark-gray: $dark-gray;
$bg-blue-linear: linear-gradient(180deg, #5c7eff 0%, #19234a 100%);

a {
    color: $light-gray;
}