// loop grid
@use "sass:math";

$grid-columns: 12;

@for $i from 1 through $grid-columns {
	.grid-#{$i} {
		width: calc($i / $grid-columns) * 100%;
	}
}
// example to html
// .grid-6 for 50%
// .grid-12 for 100%
[class^="grid-"] {
	@include responsive(md) {
		width: 100%;
	}
}

// layout for display
section {
  padding-block: 100px;

  @media (max-width: 1200px) {
      padding-block: 50px;
  }

  @media (max-width: 576px) {
      padding-block: 40px;
  }
}
section {
	width: 100%;
  padding-block: 100px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin: auto;
  @media (max-width: 1200px) {
      padding-block: 50px;
  }

  @media (max-width: 576px) {
      padding-block: 40px;
  }
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: auto;
	display: flex;
	padding-inline: 135px;
	flex-direction: row;
	// overflow: hidden;
	@include responsive(xl) {
		padding-inline: 62px;
		&-fluid {
			max-width: 100%;
			padding: 0 62px;
			margin: 0 auto;
		}
	}
	@include responsive(md) {
		flex-direction: column;
		padding-inline: 30px;
		&-fluid {
			padding: 0 30px;
		}
	}
}

.d {
  &-flex {
      display: flex;
  }
  &-inline-flex {
      display: inline-flex;
  }
}

.justify-content {
  &-center {
      justify-content: center;
  }
  &-between {
      justify-content: space-between;
  }
  &-around {
      justify-content: space-around;
  }
  &-end {
      justify-content: flex-end;
  }
  &-start {
      justify-content: flex-start;
  }
}

.align-items {
  &-center {
      align-items: center;
  }
  &-start {
      align-items: flex-start;
  }
  &-end {
      align-items: flex-end;
  }
}

.flex {
  &-row {
      flex-direction: row;
  }
  &-row-reverse {
      flex-direction: row-reverse;
  }
  &-column {
      flex-direction: column;
  }
  &-column-reverse {
      flex-direction: column-reverse;
  }
}

// flex
@mixin flex($direction, $align: null, $justify: null) {
	display: flex;
	flex-direction: $direction;
	@if $align {
		align-items: $align;
	}
	@if $justify {
		justify-content: $justify;
	}
}
