@import url("https://fonts.cdnfonts.com/css/satoshi");
.btn {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  display: inline-block;
  border: unset;
  background-color: unset;
  cursor: pointer;
  transition: all 500ms ease;
}
.btn-sign {
  padding: 16px 31.5px;
  border-radius: 70px;
  outline: 1px solid #d0d0d0;
  font-weight: 300;
}
.btn-sign span {
  font-weight: 600;
}
.btn-outline {
  font-size: 16px;
  padding: 16px;
  outline: 1px solid #ffffff;
}
.btn-outline:hover {
  background-color: #ffffff;
  color: #000000;
}
.btn-platform {
  display: inline-flex;
}
@media (max-width: 768px) {
  .btn-sign {
    padding: 14px 28.5px;
  }
  .btn-outline {
    padding: 14px;
  }
}

.card .card-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: #ffffff;
}
.card .card-desc {
  font-size: 18px;
  font-weight: 400;
  color: #d0d0d0;
  line-height: 166.667%;
}
@media (max-width: 576px) {
  .card .card-title {
    font-size: 20px;
  }
  .card .card-desc {
    font-size: 16px;
  }
}

.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-start {
  justify-content: flex-start;
}

.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}

.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}

.container {
  max-width: 1440px;
  padding: 0 135px;
  margin: 0 auto;
}
.container-fluid {
  max-width: 100%;
  padding: 0 135px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1440px;
    padding: 0 62px;
    margin: 0 auto;
  }
  .container-fluid {
    max-width: 100%;
    padding: 0 62px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .container-fluid {
    padding: 0 30px;
  }
}

.img,
.ic {
  width: 100%;
}

a {
  text-decoration: none;
  color: #d0d0d0;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #d0d0d0;
  background-color: #000000;
}

section {
  padding-block: 100px;
}
@media (max-width: 1200px) {
  section {
    padding-block: 50px;
  }
}
@media (max-width: 576px) {
  section {
    padding-block: 40px;
  }
}

.label-text {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  gap: 8px;
}
.label-text .line {
  content: "";
  display: inline-block;
  width: 36px;
  height: 1px;
  background-color: #ffffff;
}

.heading-text {
  font-size: 60px;
  font-weight: 500;
  color: #ffffff;
  line-height: 120%;
}
@media (max-width: 1200px) {
  .heading-text {
    font-size: 52px;
  }
}
@media (max-width: 768px) {
  .heading-text {
    font-size: 42px;
  }
}
@media (max-width: 576px) {
  .heading-text {
    font-size: 30px;
  }
}

.desc-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 166.667%;
  color: #d0d0d0;
}
@media (max-width: 576px) {
  .desc-text {
    font-size: 16px;
  }
}

.navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 30px;
}
.navbar-brand {
  display: inline-flex;
}
.navbar-brand .img-logo {
  max-width: 170.61px;
}
.navbar-toggler {
  display: none;
  cursor: pointer;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url("/assets/images/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.navbar-collapse .wrap-btn {
  gap: 30px;
}
.navbar-collapse.active {
  height: 200px;
}
.navbar-collapse.active .wrap-btn {
  opacity: 1;
}
.navbar.sticky {
  position: sticky;
  top: 0;
  background-color: transparent;
  z-index: 100;
  transition: all 100ms ease;
}
.navbar.scrolled {
  background-color: #000000;
}
@media (min-width: 993px) {
  .navbar-collapse.active {
    height: unset;
  }
}
@media (max-width: 992px) {
  .navbar-toggler {
    display: inline-flex;
  }
  .navbar-collapse {
    z-index: 99;
    height: 0;
    position: absolute;
    top: 97.5px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    transition: all 500ms ease;
    overflow: hidden;
  }
  .navbar-collapse .wrap-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 200ms ease;
    opacity: 0;
  }
}

.hero {
  position: relative;
}
.hero-top {
  margin-bottom: 80px;
}
.hero-top .heading-text {
  font-family: "Satoshi", sans-serif;
  font-size: 142px;
  font-weight: 900;
  line-height: 118.056%;
  text-align: center;
}
.hero-bottom {
  gap: 30px;
}
.hero-bottom .wrap-desc {
  max-width: 172px;
  gap: 14px;
}
.hero .wrap-img {
  margin-left: -135px;
  display: inline-flex;
  position: relative;
}
.hero .wrap-img .img-hero {
  max-width: 1105px;
}
.hero .wrap-img .ic-hero {
  position: absolute;
  bottom: -56px;
  right: 30px;
  max-width: 150px;
}
@media (max-width: 1200px) {
  .hero-top .heading-text {
    font-size: 108px;
  }
  .hero .wrap-img .ic-hero {
    position: absolute;
    bottom: -48px;
    right: 30px;
    max-width: 108px;
  }
}
@media (max-width: 768px) {
  .hero-top {
    margin-bottom: 30px;
  }
  .hero-top .heading-text {
    font-size: 86px;
  }
  .hero-bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .hero-bottom .wrap-desc {
    max-width: unset;
  }
}
@media (max-width: 576px) {
  .hero-top {
    margin-bottom: 20px;
  }
  .hero-top .heading-text {
    font-size: 36px;
  }
  .hero-bottom {
    gap: 20px;
  }
  .hero .wrap-img .ic-hero {
    position: absolute;
    bottom: -24px;
    right: 16px;
    max-width: 52px;
  }
}

.story-top {
  margin-bottom: 60px;
}
.story-top .label-text {
  margin-bottom: 8px;
}
.story-top .heading-content {
  gap: 60px;
}
.story-top .heading-content .heading-text {
  max-width: 544px;
}
.story-top .wrap-desc {
  display: flex;
  max-width: 570px;
  flex-direction: column;
  gap: 24px;
}
.story-bottom .img-story {
  max-width: 1170px;
}
@media (max-width: 1200px) {
  .story-top .wrap-desc {
    max-width: 466px;
  }
}
@media (max-width: 768px) {
  .story-top {
    margin-bottom: 30px;
  }
  .story-top .heading-content {
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
  }
  .story-top .heading-content .heading-text {
    max-width: unset;
  }
  .story-top .heading-content .wrap-desc {
    max-width: unset;
  }
}
@media (max-width: 576px) {
  .story-top {
    margin-bottom: 20px;
  }
  .story-top .heading-content {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .story-top .heading-content .heading-text {
    max-width: unset;
  }
  .story-top .heading-content .wrap-desc {
    max-width: unset;
  }
}

.feature-top {
  margin-bottom: 60px;
}
.feature-top .label-text {
  margin-bottom: 8px;
}
.feature-bottom {
  gap: 30px;
}
.feature-bottom .card {
  position: relative;
}
.feature-bottom .card-collapse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  transition: all 800ms ease;
  opacity: 0;
  cursor: pointer;
}
.feature-bottom .card-img {
  display: flex;
  max-width: 370px;
}
.feature-bottom .card-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.feature-bottom .card-body .card-desc {
  max-width: 290px;
}
.feature-bottom .card .btn-outline {
  display: inline-block;
}
.feature-bottom .card:hover .card-collapse {
  opacity: 1;
}
@media (max-width: 1200px) {
  .feature-bottom .card-collapse {
    padding: 24px;
  }
  .feature-bottom .card-body {
    gap: 18px;
  }
}
@media (max-width: 768px) {
  .feature-top {
    margin-bottom: 30px;
  }
  .feature-bottom {
    flex-wrap: wrap;
  }
  .feature-bottom .card-collapse {
    padding: 40px;
  }
  .feature-bottom .card-img {
    max-width: 328px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .feature-top {
    margin-bottom: 20px;
  }
  .feature-bottom {
    align-items: center;
    gap: 20px;
  }
  .feature-bottom .card {
    max-width: 90%;
    margin: 0 auto;
  }
  .feature-bottom .card-collapse {
    padding: 32px;
  }
  .feature-bottom .card-img {
    max-width: 100%;
  }
}

.progress-wrapper {
  gap: 120px;
}
.progress-wrapper .card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.progress-wrapper .card-left .label-text {
  margin-bottom: 20px;
}
.progress-wrapper .card-left .card-title {
  font-size: 120px;
  font-weight: 500;
  line-height: 108.333%;
  color: #ffffff;
}
.progress-wrapper .card-right .card-title {
  margin-bottom: 28px;
}
.progress-wrapper .card-right .card-desc {
  max-width: 770px;
}
@media (max-width: 1200px) {
  .progress-wrapper {
    gap: 60px;
  }
  .progress-wrapper .card-left .card-title {
    font-size: 98px;
  }
  .progress-wrapper .card-right .card-desc {
    max-width: 632px;
  }
}
@media (max-width: 768px) {
  .progress-wrapper {
    gap: 60px;
  }
  .progress-wrapper .card {
    flex-direction: column;
    align-items: flex-start;
  }
  .progress-wrapper .card-left {
    margin-bottom: 18px;
  }
  .progress-wrapper .card-left .label-text {
    margin-bottom: 10px;
  }
  .progress-wrapper .card-left .card-title {
    font-size: 82px;
  }
  .progress-wrapper .card-right .card-title {
    margin-bottom: 18px;
  }
  .progress-wrapper .card-right .card-desc {
    max-width: 632px;
  }
}
@media (max-width: 576px) {
  .progress-wrapper {
    gap: 30px;
  }
  .progress-wrapper .card-left .label-text {
    margin-bottom: 10px;
  }
  .progress-wrapper .card-left .card-title {
    font-size: 76px;
  }
}

.trailer-top {
  text-align: center;
  margin-bottom: 60px;
}
.trailer-top .label-text {
  margin-bottom: 8px;
}
.trailer-bottom {
  gap: 40px;
}
.trailer-bottom .video-play {
  position: relative;
}
.trailer-bottom .video-play .img-trailer {
  max-width: 970px;
}
.trailer-bottom .video-play .ic-btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70px;
}
.trailer-bottom .desc-text {
  max-width: 227px;
  margin-left: 100px;
}
@media (max-width: 768px) {
  .trailer-top {
    margin-bottom: 30px;
  }
  .trailer-bottom {
    gap: 20px;
  }
  .trailer-bottom .desc-text {
    margin-left: 50px;
  }
  .trailer-bottom .video-play .ic-btn-play {
    max-width: 52px;
  }
}
@media (max-width: 576px) {
  .trailer-bottom .video-play .ic-btn-play {
    max-width: 32px;
  }
}

.footer {
  padding-top: 100px;
  padding-bottom: 30px;
}
.footer .desc-title {
  font-size: 18px;
}
.footer .menu-link {
  font-size: 18px;
}
.footer-top .heading-content .label-text {
  margin-bottom: 8px;
}
.footer-top .heading-content .heading-text {
  max-width: 570px;
  margin-bottom: 40px;
}
.footer-top .heading-content .wrap-btn {
  gap: 24px;
}
.footer-top .heading-content .wrap-btn .img-platform {
  max-height: 44px;
}
.footer-top .wrap-description {
  gap: 30px;
}
.footer-top .wrap-description .item {
  width: 172px;
  display: flex;
  flex-direction: column;
}
.footer-top .wrap-description .item .desc-title {
  margin-bottom: 40px;
}
.footer-top .wrap-description .item .menu-link:not(:last-child) {
  margin-bottom: 20px;
  line-height: 166.667%;
}
.footer-top .wrap-description .item .address {
  width: 170px;
  flex-shrink: 0;
}
.footer-bottom .subscribe {
  border-bottom: 1px solid #222222;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.footer-bottom .subscribe-left .desc-text {
  margin-bottom: 8px;
}
.footer-bottom .subscribe-left .email {
  color: #ffffff;
  line-height: 30px;
}
.footer-bottom .subscribe-right .img-btn-to-top {
  max-width: 70px;
}
.footer-bottom .copyright {
  text-align: center;
}
@media (max-width: 1200px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .footer-top .wrap-description {
    gap: 40px;
  }
  .footer-top .wrap-description .item {
    width: unset;
  }
}
@media (max-width: 768px) {
  .footer-top {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .footer-top .heading-content {
    margin-bottom: 30px;
  }
  .footer-top .heading-content .heading-text {
    margin-bottom: 30px;
  }
  .footer-top .wrap-description .item .desc-title {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .footer .desc-title,
  .footer .menu-link {
    font-size: 16px;
  }
  .footer-top {
    margin-bottom: 20px;
  }
  .footer-top .heading-content {
    margin-bottom: 20px;
  }
  .footer-top .heading-content .heading-text {
    margin-bottom: 20px;
  }
  .footer-top .wrap-description {
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-top .wrap-description .item {
    min-width: 142px;
  }
  .footer-top .wrap-description .item .desc-title {
    margin-bottom: 14px;
  }
  .footer-top .wrap-description .item .menu-link:not(:last-child) {
    margin-bottom: 10px;
    line-height: 166.667%;
  }
  .footer-bottom .subscribe {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .footer-bottom .subscribe-right .img-btn-to-top {
    max-width: 52px;
  }
}/*# sourceMappingURL=style.css.map */